<div style="text-align: right" class="m-1">
    <a asp-controller="FileCategory" asp-action="New" class="btn btn-outline-danger">
        <span class="fa fa-plus"></span>&nbsp;Create new category
    </a>
    <a asp-controller="FileCategory" asp-action="Index" class="btn btn-outline-primary">
        <span class="fa fa-list"></span>&nbsp;View existing catgories
    </a>
</div>